@page "/profile"
@attribute [Authorize]

<PageTitle>DMD Profile</PageTitle>

@if (user == null)
{
	<p><em>@message</em></p>
}
else
{
	<h3 class="mb-3">Profile</h3>

	<div class="row mb-3">
		<label class="col-md-3 col-form-label">Name</label>
		<div class="col-md-8">
			<input class="form-control-plaintext" readonly @bind="user.Name" />
		</div>
	</div>

	<div class="row mb-3">
		<label class="col-md-3 col-form-label">Email</label>
		<div class="col-md-8">
			<input class="form-control-plaintext" readonly @bind="user.Email" />
		</div>
	</div>

	<div class="row mb-3">
		<label class="col-md-3 col-form-label">Phone Number</label>
		<div class="col-md-8">
			<input class="form-control-plaintext" readonly @bind="user.PhoneNumber" />
		</div>
	</div>
}

@inject HttpClient httpClient
@code {
	private UserProfile? user = null;
	private string message = "";

	protected override async Task OnInitializedAsync()
	{
		try
		{
			message = "Loading. . .";

			user = await httpClient.GetFromJsonAsync<UserProfile>("api/Account/Profile");
		}
		catch
		{
			message = "Cannot read user profile";
		}
	}
}
