@page "/"
@layout MainLayout

<PageTitle>Home</PageTitle>

<h1>Home: Dungeon Master Dashboard</h1>

<AuthorizeView>
	<NotAuthorized>
		This is a Blazor Web App for PRO150 at Neumont University. <br />
		This is hosted through Azure (currently) and has a back-end connection to an 
		AzureSQL database.
		<br /><br />
		Please Register to use the service!
	</NotAuthorized>
	<Authorized>
		This is a Blazor Web App for PRO150 at Neumont University. <br />
		This is hosted through Azure (currently) and has a back-end connection to an
		AzureSQL database.
		<br /><br />
		You can use the navigation on the left to access the service!
	</Authorized>
</AuthorizeView>
