@page "/monsters"
@using DungeonMasterDashboard.Data
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@inject FifthEditionMonsterDbService MonsterService
@inject IDbContextFactory<DMDbContext> DbFactory
@rendermode InteractiveServer

<h2>Monsters</h2>

<PageTitle>Monsters</PageTitle>

<div style="margin-bottom: 1rem;">
    <button class="btn btn-primary" @onclick="CreateMonster">
        Create New Monster
    </button>
</div>

@if (Enemies == null)
{
    <p>Loading monsters...</p>
}
else if (Enemies.Count == 0)
{
    <p>No monsters found.</p>
}
else
{
    <QuickGrid Class="table" Items="context.FifthEditionMonsters">
        <PropertyColumn Property="enemies => enemies.Name" />
        <PropertyColumn Property="enemies => enemies.Alignment" />
        <PropertyColumn Property="enemies => enemies.CreatureType" />

        <TemplateColumn Context="enemies">
            <a href="@($"monsters/edit/{enemies.Id}")">Edit</a> |
            <a href="@($"monsters/details/{enemies.Id}")">Details</a> |
            <a href="@($"monsters/delete/{enemies.Id}")">Delete</a>
        </TemplateColumn>
    </QuickGrid>
}

@code {
    public List<FifthEditionMonster> Enemies { get; set; }

    private void CreateMonster()
    {

    }

    private DMDbContext context = default!;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            context = await DbFactory.CreateDbContextAsync();
            Enemies = await context.FifthEditionMonsters
                .OrderByDescending(e => e.Id)
                .ToListAsync();
        }
        catch (Exception ex) { }
    }
}
