@page "/monsters"
@using DungeonMasterDashboard.Models
@inject DungeonMasterDashboard.Services.IEnemyService MonsterService
@inject NavigationManager Nav

@rendermode InteractiveServer

<h2>Monsters</h2>

<div style="margin-bottom: 1rem;">
    <button class="btn btn-primary" @onclick="CreateMonster">
        Create New Monster
    </button>
</div>

@if (enemies == null)
{
    <p>Loading monsters...</p>
}
else if (enemies.Count == 0)
{
    <p>No monsters found.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Enemy Name</th>
                <th>System</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var enemy in enemies)
            {
                <tr>
                    <td>@enemy.Name</td>
                    <td>@enemy.System</td>
                    <td>
                        <button class="btn btn-secondary"
                                @onclick="() => OnViewEnemy(enemy.Id)">
                            View Monster
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-secondary"
                                @onclick="() => OnEditEnemy(enemy.Id)">
                            Edit Monster
                        </button>
                    </td>
				</tr>
            }

        </tbody>
    </table>
}

@code {
    private List<Enemy>? enemies;

    private void CreateMonster()
    {

    }
    private void OnViewEnemy(Guid enemyId)
    {

    }
    private void OnEditEnemy(Guid enemyId)
    {
        
    }
}
